/* ------------------- PÀGINA GENERAL ------------------- */
    /* AJUSTS QUE AFECTEN A TOTES LES PÀGINES */
    body {
        font-family: 'Inter', sans-serif; 
    }

    /* ESTILS DE H2 */
    h2{
        font-family: 'Montserrat Alternates', sans-serif !important;
        text-align: center;
    }

    /* ELIMINA ELS ESTILS DELS ENLLAÇOS I HEREDA ELS DE CADA ETIQUETA */
    a {
        text-decoration: none; 
        color: inherit; 
    }
/* ------------------- NAVBAR FIX AMB PADDINGS DINÀMIC AMB JS ------------------- */
    /* PÀDING GNENERAL */
    #post-navbar {
        transition: padding-top 0.3s ease; 
    }

    /* PÀDDING EXTRA PÀGINES QUE COMENÇEN PER TÍTOL */
    #post-navbar .section-title {
        padding-top: 20px;
    }

    /* PÀDING EXTRA PÀGINA LOGIN */
    #login #post-navbar {
        padding-top: 30px;
    }

/* ------------------- NAVBAR ------------------- */
    /* AJUSTS QUE AFECTEN A LA NAVBAR SENCERA (graella sencera) */
    .custom-navbar {
        background-color: #f8f9fa;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    /* GRAELLA DE LES PÀGINES */
    .navbar-nav {
        gap: 20px;
        margin-right: 9%;
    }

    /* APARTAT LOGIN-TÍTOL */
        /* POSICIÓ */
        .custom-brand {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            font-family: 'Montserrat Alternates', sans-serif;
            flex-grow: 1; 
        }

        /* FORMAT TÍTOL */
        .custom-brand span {
            font-size: 2.5rem; 
            font-family: 'Montserrat Alternates', sans-serif;
            font-weight: 800; 
            color: #ffffff; 
            padding: 5px 15px;
            text-shadow: 
                1px 1px 0px #000,  
                -1px -1px 0px #000,  
                1px -1px 0px #000,  
                -1px 1px 0px #000; 
        }
    /* FORMAT PÀGINA ACTUAL */
    .page {
        color: rgb(76, 157, 211) !important;
    }

    /* FORMAT LINKS DE LES PÀGINES */
        .custom-link {
            color: #333;
        }

        .custom-link:hover {
            color: #ff5733;
        }

    /* FORMAT DEL BOTÓ DE LOGIN */
        .custom-button {
            background-color: #ff5733;
            color: white;
            border-radius: 20px;
        }

        /* FORMAT AL CLICAR */
        .custom-button:hover {
            background-color: #cc4626;
            color: white;
        }

        /* FORMAT DEL BOTÓ DE LOGIN AL SER EN AQUELLA PÀGINA */
        .page-login {
            background-color: rgb(76, 157, 211);
        }

/* ------------------- FOOTER ------------------- */
        /* FORMAT DEL FOOTER */
        .last-section {
            margin-bottom: 0 !important; 
            padding-bottom: 0 !important; 
        }

        /* ESTILS DEL REQUADRE DEL FOOTER */
        .legal-text {
            background-color: #343a40; /* Fons igual al del peu de pàgina */
            margin: 10px auto;
            padding: 15px;
            border-radius: 5px;
            max-width: 80%;
            text-align: left;
        }

/* ------------------- PÀGINA PRINCIPAL ------------------- */
    /* MARGE A SOBRE DE LA SECCIÓ */
    #index #post-navbar {
        margin-top: 100px;
    }

    /* BANNER */
        /* IMATGE BANNER */
            .banner {
                background-image: url(imatges/banner.png);
                background-size: cover;
                height: 80vh;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                position: relative;
            }

        /* TEXT BANNER */
            .banner h1 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                color: #FFFFFF;
            }

            .banner p {
                font-size: 1.5rem;
                color: #FFFFFF;
            }

            .search-form {
                justify-content: center;
                gap: 10px;
            }

    /* FORMULARI INICIAL */
        /* CAMPS D'ESCRIURE, INPUT I SELECT */
        .search-form input, .search-form select {
            padding: 12px;
            border-radius: 30px;
            border: 1px solid #ddd;
            width: 200px;
        }

        /* BOTÓ BUSCAR */
            .search-form button {
                padding: 12px 24px;
                background-color: #FF6A13;
                color: white;
                border-radius: 30px;
            }

            .search-form button:hover {
                background-color: #cc4626;
            }

        /* AL CERCAR ES SUBRATLLA EL RESULTAT */
        .highlight {
            background-color: rgb(230, 230, 230);
            color: black;
            font-weight: bold;
        }

    /* TEXT DEL TÍTOL DE LES CARDS (valor afegit) */
    .card-title {
        color: #ff6600 !important; 
    }

    /* TEXT DE LES CARDS (valor afegit) */
    .card-text {
        color: #666;
    }

    /* ICONES VALOR AFEGIT */
        .icon {
            width: 60px;
            height: 60px;
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
        }

        /* LINK ICONES */
        .icon-flexibilitat {
            background-image: url('imatges/qual/qual1.png');
        }

        .icon-experiencies {
            background-image: url('imatges/qual/qual2.png');
        }

        .icon-qualitat {
            background-image: url('imatges/qual/qual3.png');
        }

        .icon-suport {
            background-image: url('imatges/qual/qual4.png');
        }

    /* CARROUSEL */
        /* IMATGES CARROUSEL */
        #carouselDestinations img {
            width: 60%;
            height: 80%; 
            border-radius: 50%; 
            margin: 0 auto; 
        }

        /* TEXT DINS DEL CARROUSEL */
        .carousel-caption {
            padding: 10px; 
        }

        /* CONTROLS CARROUSEL */
        .carousel-control-prev-icon, .carousel-control-next-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 4rem;
        }

        /* CONTROLS CARROUSEL UN COP CLICAT */
            .carousel-control-prev-icon::before {
                content: '\276E'; /* Unicode de la fletxa cap a la esquerra */
                color: black; 
            }

            .carousel-control-next-icon::before {
                content: '\276F'; /* Unicode de la fletxa cap a la dreta */
                color: black; 
            }

    /* TOURS POPULARS */ 
        /* IMATGE DE IGUAL TAMANY */
        #index .tour-card .card-img-top {
            padding: 5%;
            height: 250px;
            object-fit: cover; /* Ajusta la imatge sense deformar-la, pot tallar part de la imatge */
        }

        /* TAMANY D'ALGUNA IMATGE RETOCADA */
        #index .petita {
            height: 350px;
        }

    /* PETIT MARGE A LA PART INFERIOR */
    #index .last-section {
        padding-bottom: 40px !important;
    }

/* ------------------- PÀGINA NOMAD TRAIL - sobre nosaltres ------------------- */
    /* ESTIL AL TEXT DE LA PÀGINA */
    #nomad main p {
        text-align: center;
    }
    
    /* AL PASSAR EL RATOLÍ PEL REQUADRE */
    #nomad .card-body:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }
    
    /* TIPUS DE VIATJES */ 
        /* ESTILS DE LES IMATGES */
        #nomad .card-img-top {
            height: 200px;
            object-fit: cover;
        }
        
        /* PETIT MOVIMENT */
        #nomad .card-body {
            transition: background-color 0.3s ease;
        }
        
        /* ESTIL AL PASSAR EL RATOLÍ */
        #nomad .card:hover .card-body {
            background-color: #333;  
        }

    /* PETIT ESTIL AL MAPS */
    #nomad .map-container iframe {
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #nomad .map-container iframe {
        width: 100%;        
        height: 400px; 
        border-radius: 10px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* ESTADISTÍSTIQUES */
        /* ESTILS DEL SOMBREJAT */
        #nomad .statistics-item {
            position: relative;
            padding: 20px;
            display: flex;

        }
    
        /* ESTIL IMATGES */
        #nomad .statistics-item img {
            object-fit: cover;
        }
    
        /* ESTILS CONTINGUT ESTADÍSTIQUES */
        #nomad .statistics-item .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;
            background: rgba(0, 0, 0, 0.5); 
            position: absolute; 
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

/* ------------------- PÀGINA DESTINACIÓ ------------------- */
    /* ESPAI A SOTA DEL CARD */
    #dest .country-section {
        padding-bottom: 3%;
    }

    /* IMATGE DE IGUAL TAMANY */
    #dest .city-card .card-img-top {
        height: 250px; 
        object-fit: cover;
    }

    /* CARDS IGUALS */
    #dest .city-card {
        height: 400px;
    }

/* ------------------- PÀGINA ACTIVITATS ------------------- */
    /* ESPAI A SOTA DEL CARD */
    #activitats .country-section {
        padding-bottom: 3%;
    }

    /* IMATGE DE IGUAL TAMANY */
    #activitats .city-card .card-img-top {
        height: 250px;
        object-fit: cover;
    }

    /* CARDS IGUALS */
    #activitats .city-card {
        height: 400px; 
    }

/* ------------------- PÀGINA CONTACTE ------------------- */
    /* FOMRAT h4 */
    #contacte h4 {
        justify-content: center;
        display: flex;
        font-family: 'Roboto', sans-serif;
    }

    /* GRAELLA BOOTSTRAP(informacio contacte) */
        /* FONS */
        .col-md-5.mb-4 {
            background-image: url('imatges/contacte/fons-contacte.png');
            background-size: cover; 
            background-position: center; 
            padding: 5%; 
        }

        /* FORMAT CONTENIDOR */
        #contacte .info-contacte {
            padding: 5%;
        }

        /* FORMAT TEXT CONTENIDOR */
        #contacte .info-contacte p{
            margin-bottom: 15%;
        }

        /* ESPAI ENTRE TEXT I IMATGE */
            .icon-contacte {
                margin-right: 10px;
            }

    /* FORMAT BOTÓ ENVIAR MISSATGE */
        #contacte .contacte-boto-negre {
            background-color: #000000;
            border: none;
        }

        /* FORMAT AL APRETAR EL BOTÓ */
        #contacte button:hover {
            background-color: #e05a2c;
        }

    /* FORMAT CASELLES DE INPUT */
    #contacte .custom-input {
        border: none;
        border-bottom: 2px solid #ccc;
    }

    /* FORMAT CASELLES DE RADIO */
        /* FORMAT CASELLES PER DEFECTE */
            #contacte .custom-radio {
                background-color: #d3d3d3; 
                border-color: #000000; 
                box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
            }

            #contacte .form-check-label {
                margin-left: 8px; 
                font-size: 14px; 
            }

        /* FORMAT CASELLES SELECCIONADES */
        #contacte .custom-radio:checked {
            background-color: #000000; 
            border-color: #0056b3; 
            box-shadow: 0 0 8px rgba(0, 123, 255, 0.6); 
        }

/* ------------------- PÀGINA LOG IN ------------------- */
    /* SECCIÓ COMPLETA */
    #login section {
        background: url('imatges/login-banner/air-baloon.png') no-repeat center center/cover;
        min-height: 100vh; 
        margin-top: 20px;
    }

    /* CONTORN NEGRE CONTAINER */
    #login .container {
        background-color: rgba(0, 0, 0, 0.7); 
        border-radius: 15px; 
        padding: 2rem; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    }

    /* CARDS INICIA SESSIÓ I CREAR UN COMPTE */
        /* CONTAINERS CARDS */
        #login .card {
            background-color: rgba(255, 255, 255, 0.8); 
            border-radius: 8px;
        }

        /* TÍTOLS h4 CARDS*/
        #login .card h4 {
            color: #333;
        }

        /* BOTONS */
            /* BOTONS GENERALS */
            #login .btn {
                padding: 10px 20px;
                border-radius: 5px;
            }

            /* BOTO GOOGLE */
            #login .btn-outline-secondary {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            #login .btn-outline-secondary img {
                margin-right: 10px; 
            }

    /* TEXT PRIVACITAT */
    #login small {
        color: #888; 
    }

    #login .last-section {
        padding-bottom: 20px !important;
    }

/* ------------------- RESPONSIU ------------------- */
@media (max-width: 768px) {
/* ------------------- NAVBAR RESPONSIU ------------------- */
    /* REDUCCIÓ TAMANY LOGOTIP */
    .custom-brand img {
        width: 50px; 
        height: 50px;
    }

    /* REDUCCIÓ TAMANY LLETRA MARCA */
    .custom-brand span {
        font-size: 1.5rem;
    }

    /* POSICIÓ ITEMS MENÚ CORRETGIT */
    .navbar-nav {
        align-items: center;
        margin-right: 0%;
    }

    /* LLARGARIA DEL BOTÓ */
    .custom-button {
        width: 120px;
        text-align: center;
    }

/* ------------------- PÀGINA PRINCIPAL RESPONSIVA ------------------- */
    /* LLARGARIA DEL BOTÓ */
    #index header .custom-button {
        width: 200px;
        text-align: center;
    }

    /* BANNER RESPONSIU */
        /* TAMANY LLETRA */
        .banner-content p {
            font-size: 1.0rem; 
        }

        /* ESPAI AL TEXT DEL BANNER */
        .banner-content {
            padding: 2%;
        }

    /* CARROUSEL RESPONSIU */
        /* TAMANY IMATGES */
        #carouselDestinations img {
            height: 200px; 
        }

/* ------------------- PÀGINA NOMAD TRAIL RESPONSIVA ------------------- */
    #nomad .card {
        margin-bottom: 15px;
    }   

/* ------------------- PÀGINA DESTINACIÓ RESPONSIVA ------------------- */
    /* ESPAI A SOTA DE CADA CARD */
    #dest .card {
        margin-bottom: 15px;
    }    

/* ------------------- PÀGINA ACTIVITATS RESPONSIVA ------------------- */
    /* ESPAI A SOTA DE CADA CARD */
    #activitats .card {
        margin-bottom: 15px;
    }    

/* ------------------- PÀGINA CONTACTE RESPONSIVA ------------------- */
    /* CONTAINER RESPONSIU AMB PADDINGS */
    #contacte .container {
        padding: 10%;
    }

/* ------------------- PÀGINA LOGIN RESPONSIVA ------------------- */
    /* MARGE AL CONTAINER */
    #login .container {
        margin: 20px;
    }
}